﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #e5e5e5;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #e5e5e5;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  background-color: hsl(0,0%,20%);
  font-size: 14px;
}

body {
  background-color: hsl(0,0%,20%);
}

header {
  background-color: hsl(0,0%,25%);
  color: #e5e5e5;
  z-index:10;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
   -webkit-box-shadow: 0px 1px 12px 6px #ff7518;
  -moz-box-shadow: 0px 1px 12px 6px #ff7518;
  box-shadow: 0px 1px 12px 6px #ff7518; 
  /*box-shadow: 0 .25rem .75rem #ff7518;*/

   /* Transition for the magic */
   -webkit-transition: all 0.2s;
   transition: all 0.2s;
}

.box-shadow:hover {
  -webkit-box-shadow: 0px 1px 6px 2px #ff7518;
 -moz-box-shadow: 0px 1px 6px 2px #ff7518;
 box-shadow: 0px 1px 6px 2px #ff7518; 
 /*box-shadow: 0 .25rem .75rem #ff7518;*/
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color: #e5e5e5;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: hsl(0,0%,25%);
  /* Vertically center the text there */
}

.hacktoberfest {
  color: #ff7518 !important;
  transform: scale(2) translateX(0.40em);
}

.ms {
  /* transform: perspective(400px) rotateY(-25deg); */
  transform: scale(1.50) skew(0, 10deg) translateX(-0.40em);
}

.ms>path {
  color: #0078D7 !important;
  border-radius: 0% !important;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}

nav .flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
}

.btn-grp.flex-container>a:first-child {
  margin-left: -3px !important;
}

.btn-grp.flex-container>a {
  margin: 10px;
  padding: 20px;
  flex-basis: 25%;
}

.card {
  flex-basis:29rem;
  background: hsl(0,0%,35%);
  background: -webkit-radial-gradient(top, hsl(0,0%,35%), hsl(0,0%,20%));
  background: -moz-radial-gradient(top, hsl(0,0%,35%), hsl(0,0%,20%));
  background: radial-gradient(to bottom, hsl(0,0%,35%), hsl(0,0%,20%));
  border-style: groove;
  border-width: 3px;
  border-image: linear-gradient(to bottom, rgba(255,255,255,0.15), rgba(255,255,255,0));
  z-index:5;
}

.text-muted {
  color: #ddd;
}

.issue-status-open {
  background-color: var(--bs-success);
}

.comment-count {
  padding-left: 0.4rem;
}

a {
  color: #06b300;
  text-decoration: none;
}

a:hover {
  color:#046600;
  text-decoration: none;
}

.navbar-brand i {
  margin-right: 0.5rem;
}

.bg-dkgrey
{
  background-color: hsl(0,0%,25%);
}

button.search-link {
  background: none;
  color: #dee2e6;
  white-space: nowrap;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

button.search-link:hover {
  color: #999;
}

button.search-link:hover .fa-pumpkin{
  color: #b65b1e;
}

#langSelect {
  background-color:#343a40;
  color:#dee2e6;
  border-color: rgba(0,0,0,.15);
  width: 17rem;
}

#login-container {
  flex-wrap: wrap;
}

#github-login {
  flex-basis: 100%;
}

.card-text,
.card-footer {
  font-size: 1rem;
}

.issue-list {
  gap: 2rem 4rem;
  justify-content: center;
  flex-direction: row;
}

.lang-icon {
  font-size: 1.5rem;
}

.lang-icon.nf-dev-python {
  color: #ffd343;
}

.lang-icon.nf-dev-javascript_badge {
  color: #F7DF1E;
}

.lang-icon.nf-seti-go {
  color: #7fd5ea;
}

.lang-icon.nf-custom-cpp {
  color: #659AD2;
}

.lang-icon.nf-custom-c {
  color: #a9b9cb;
}

.lang-icon.nf-dev-java {
  background-color: #C33;
}

.lang-icon.nf-dev-html5 {
  color: #e44d26;
}

.lang-icon.nf-mdi-language_csharp {
  color: #4F1C70;
}

.lang-icon.nf-custom-elixir {
  color: #340a50;
}

.lang-icon.nf-mdi-language_php {
  color: #777bb3
}

.lang-icon.nf-dev-ruby {
  color: #820C01;
}

.lang-icon.nf-mdi-language_typescript {
  color: #3178c6;
}

.lang-icon.nf-dev-rust {
  color: #c5412b;
}

.card-text {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  line-height: 1.5;
  word-wrap: break-word;
}

.flag {
  width: 30px;
  height: 20px;
  -webkit-box-shadow: 0px 0px 0px 2px antiquewhite;
  -moz-box-shadow: 0px 0px 0px 2px antiquewhite;
  box-shadow: 0px 0px 0px 2px antiquewhite;
  margin: 0 7px 0 5px;
  transform: translateY(-5px);
}

.fa-bacon {
  color: lightcoral;
}

.fa-jack-o-lantern,
.fa-pumpkin {
  color: #e47226;
}

main {
  margin-top: 8rem;
  margin-bottom: 4rem;
  width: 100vw;
}

.spinner-container{
  position: relative;
}

.spinner {
  width: 500px;
  height: 50px;
  /* Center vertically and horizontally */
  position: absolute;
  top: calc(50vh - 10rem);
  left: calc(50vw + 8rem);
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.spinner span{
  margin-left: 0.5rem;
}

.card-text p img {
  max-width: 350px;
}

.empty-results {
  width: 30rem;
}